<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262759181239-4q5k4gk30rf6i31oll6bnc4janq5ektq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262759181239-4q5k4gk30rf6i31oll6bnc4janq5ektq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262759181239-urkqsp7etnq80tcem5cmho2tln262cii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWvaVzPX6xK0XP91vwrL0nlmPH9iPgIXI</string>
	<key>GCM_SENDER_ID</key>
	<string>262759181239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.mypantrypalfixer</string>
	<key>PROJECT_ID</key>
	<string>mypantrypalfixer</string>
	<key>STORAGE_BUCKET</key>
	<string>mypantrypalfixer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262759181239:ios:18070cd4d6c8893bb29632</string>
</dict>
</plist>