<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036171757285-61ce3kpdru55ic2un5sitcplc780gaii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036171757285-61ce3kpdru55ic2un5sitcplc780gaii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036171757285-00boaqttv5d9ig3oe7p98v5snd01iig7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcDkjrowbARcRN6TPkTWswpVta8z0mkkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1036171757285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.mypantrypal</string>
	<key>PROJECT_ID</key>
	<string>mypantrypal-614f2</string>
	<key>STORAGE_BUCKET</key>
	<string>mypantrypal-614f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036171757285:ios:e876ce4651b62d3b38360c</string>
</dict>
</plist>